/** {
    border: black solid;
} */
#title {
    background-color: #1F1F3D;
    background-color: #A9AAD2;
    background-color: #EAEAF4;
    font-family: "Lucida Console", "Courier New", monospace;
}

/* The current css file isn't connected to the HTML file for some reason */

/* Using inline CSS for the HTML file works but we should try to resolve getting the styles.css file to connect to index.html*/

/*
//Header Text
font-family: "Open Sans", bold
---

//Body and Label Text
font-family: "Open Sans", light
---

//Website Background Colors
/darkest purple
background-color: #1F1F3D;

/medium purple
background-color: #A9AAD2;

/lightest purple
background-color: #EAEAF4;
---

//Idea Card Colors
/star and exit bar (darkest purple)
/idea title heading color
/idea card border color
background-color: #1F1F3D;

/idea card background color
background-color: #FFFFFF;

/body text color
background-color: #1F1F3D;

/comment text color
background-color: #E9E9F3;

/comment bar color
background-color: #5356A4;
---

//Menu Section Colors
/IdeaBox text/heading
background-color: #E9E9F3;

/line break between IdeaBox heading and Filtered Starred Ideas
background-color: #353567;

/Filtered Starred Ideas text/heading
background-color: #BFBFDD;

/Show Starred Ideas text color
background-color: #E9E9F3;

/Show Starred Ideas button color
background-color: #5356A4;

/Entire Main Section background color
background-color: #1F1F3D;

*/