/** {
    border: black solid;
} */
/*#title {
    background-color: #1F1F3D;
    background-color: #A9AAD2;
    background-color: #EAEAF4;
    font-family: "Lucida Console", "Courier New", monospace;
}*/

body {
    margin: 0;
}

.information-containers {
    display: flex;
}
.menu-section {
    background-color: #1F1F3D;
    font-family: "Open Sans";
    display: flex;
    align-items: stretch;
    flex-direction: column;
    font-weight: bold;
    height: 100vh; 
    width: 250px;
}
.title {
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    color: #E9E9F3;
    margin: 15px;
}
.menu-functions-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 2px solid #353567;
    border-bottom: 2px solid #353567;
    padding: 20px 10px;
}
#filter-starred-ideas-button {
    color: #BFBFDD;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bolder;
    background: none;
    border: none;
    margin: 0 0 20px -70px;
}
#show-starred-ideas-button {
    background-color: #5356A4;
    font-family: "Open Sans", sans-serif;
    color: #E9E9F3;
    font-size: 16px;
    font-weight: bold;
    cursor: not-allowed;
    height: 40px;
    width: 200px;
    border: 1px solid #353567;
    border-radius: 2px;
}

.ideas-input-form {
    background-color: #A9AAD2;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    justify-content: space-around;
    height: 40%;
    width: 100%;
    padding: 25px 0 0 0;
}
#title-text {
    color: #1F1F3D;
    margin-left: -270px;
    padding-bottom: 10px;

}
#body-text {
    color: #1F1F3D;
    margin-left: -270px;
    padding-top: 30px;
    padding-bottom: 10px;
}
#title-input {
    border: 2px solid #5356A4;
    border-radius: 4px;
    height: 50px;
    width: 300px;
    font-family: "Open Sans", sans-serif;
    font-weight: light;
    color: #5356A4;
}

#body-input {
    border: 2px solid #5356A4;
    border-radius: 4px;
    height: 100px;
    width: 300px;
    font-family: "Open Sans", sans-serif;
    font-weight: light;
    color: #5356A4
}

#save-button {
    color: #E9E9F3;
    background-color: #363567;
    border: 2px solid #5356A4;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 6px;
    height: 40px;
    width: 300px;
}

.ideas-grid {
    background-color: red; /* doesn't work */
}

#search-bar-icon {
    height: 25px;
    width: 25px;
}

#search-bar {
    border: 2px solid #5356A4;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    font-weight: light;
    color: #5356A4;
    height: 50px;
    width: 300px;
}

::placeholder {
    color: #5356A4;
}


/* The current css file isn't connected to the HTML file for some reason */

/* Using inline CSS for the HTML file works but we should try to resolve getting the styles.css file to connect to index.html*/

/*
//Header Text
font-family: "Open Sans", bold
---

//Body and Label Text
font-family: "Open Sans", light
---

//Website Background Colors
/darkest purple
background-color: #1F1F3D;

/medium purple
background-color: #A9AAD2;

/lightest purple
background-color: #EAEAF4;
---

//Idea Card Colors
/star and exit bar (darkest purple)
/idea title heading color
/idea card border color
background-color: #1F1F3D;

/idea card background color
background-color: #FFFFFF;

/body text color
background-color: #1F1F3D;

/comment text color
background-color: #E9E9F3;

/comment bar color
background-color: #5356A4;
---

//Menu Section Colors
/IdeaBox text/heading
background-color: #E9E9F3;

/line break between IdeaBox heading and Filtered Starred Ideas
background-color: #353567;

/Filtered Starred Ideas text/heading
background-color: #BFBFDD;

/Show Starred Ideas text color
background-color: #E9E9F3;

/Show Starred Ideas button color
background-color: #5356A4;

/Entire Main Section background color
background-color: #1F1F3D;

*/